{% extends "base.html" %}

{% block styles%}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/cook-detail.css" %}">
{% endblock %}

{% block content %}
  <div class="cook-detail-container">
    <h1>
      Username: {{ cook.username }}
  {#    <a href="{% url 'taxi:cook-delete' pk=cook.id %}" class="btn btn-danger link-to-page">#}
  {#      Delete#}
  {#    </a>#}
  {##}
    </h1>

    <p><strong>First name:</strong> {{ cook.first_name }}</p>
    <p><strong>Last name:</strong> {{ cook.last_name }}</p>
    <p><strong>Email</strong> {{ cook.email}}</p>
    <p>
      <strong>
        Years of experience:
      </strong>
      {{ cook.years_of_experience }}
      <br>
      <a href="{% url 'cook-update' pk=cook.id %}" class="btn btn-secondary link-to-page">
        Update years of experience
      </a>
    </p>
    <p><strong>Is staff:</strong> {{ cook.is_staff }}</p>
  </div>

{% endblock %}