{% extends "base.html" %}

{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/page-list.css" %}">
{% endblock %}
{% block content %}
  <section class="section-header overflow-hidden py-7 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fw-bolder display-2">Dish type list</h1>
        </div>
      </div>
    </div>
  </section>
    <div class="text-center d-flex align-items-center justify-content-center">
      <a href="{% url 'dish-type-create' %}" class="btn btn-primary link-to-page btn-lg my-3 mx-3">
        Create
      </a>
      <form action="" method="get" class="form-inline">
        {{ search_form }}
        <input type="submit" value="Search" class="btn btn-primary mx-2 btn-lg ">
      </form>
    </div>
  <div style="width: fit-content; margin: auto">
    {% if dish_types_list %}
      <table class="table table-bordered table-hover">
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>

        {% for dish_type in dish_types_list %}
          <tr>
            <td>
                {{ dish_type.id }}
            </td>
            <td>
              <div class="d-flex justify-content-between">
                <p style="margin-right: 1.5rem">{{ dish_type.name }}</p>
                <div>
                  <a href="{% url 'dish-type-update' pk=dish_type.id %}">
                    <i class="fas fa-edit mr-3" data-toggle="tooltip" data-placement="top" title="Edit item"></i>
                  </a>
                  <a href="{% url 'dish-type-delete' pk=dish_type.id %}">
                    <i class="fas fa-trash text-danger mr-2" data-toggle="tooltip" data-placement="top" title="Delete item"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>

    {% else %}
        <p>There are no dish types in the service.</p>
    {% endif %}
  </div>
{% endblock %}